<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpdpARI2RRTucOy1lKdJdp1LyRvM6ng-g</string>
	<key>GCM_SENDER_ID</key>
	<string>267286965519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>workover.com</string>
	<key>PROJECT_ID</key>
	<string>workover-85f3d</string>
	<key>STORAGE_BUCKET</key>
	<string>workover-85f3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267286965519:ios:b717d1bfde4bd88360a27a</string>
</dict>
</plist>